/* index1.css */
body {
    font-family: 'Public Sans', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    color: #6c757d;
}

.card-title {
    font-weight: 700;
}

.card-author {
    font-size: 0.875rem;
}

.card-text {
    font-size: 0.875rem;
}

footer {
    background-color: #f8f9fa;
}

footer a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* .firstCard ,
.secundCard,
.thirdCard,
.fourCard {
   width: 25%;

} */
